// トップビジュアル
@mixin top_base () {
  .top-enter-active,
  .top-leave-active {
    transition: 0.15s;
  }
  .top-enter,
  .top-leave-to {
    opacity: 0;
    transition: 0.15s;
  }

  .slidein-top-enter-active,
  .slidein-top-leave-active {
    transition: 0.15s 1s;
    transform: translateY(0);
  }
  .slidein-top-enter,
  .slidein-top-leave-to {
    transform: translateY(-50px);
    opacity: 0;
    transition: 0.15s;
  }

  .serif {
    font-family: 'Josefin Slab', serif;
  }



  display: flex;

  .split_wrapper {
    height: 100vh;
    width: 50%;
    position: relative;
    z-index: 5;
    &.right {
      background: url('./images/top_bg.jpg');
    }

    .split {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      padding: 20px;
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 0;
      // z-index: 5;

      .title {
        font-family: 'Dosis', sans-serif;
        font-weight: bold;
        position: absolute;
        letter-spacing: 0.9vw;
        font-size: 3.5vw;
        z-index: 6;

      }

      .split_start {
        height: 30%;
      }
      .split_middle {
        height: 40%;
      }
      .split_end {
        height: 30%;
      }
    }

    .split_left {
      background-color: $leftBackgroundColor;
      color: $leftFontColor;

      .split_middle {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .title {
          right: -20px;
          color: $leftTitleColor;
        }
      }

      &.on_mouse {
        .split_start {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          text-align: center;
          h2 {
            margin: 10px;
            font-size: 2vw;
            &.big {
              font-size: 4vw;
            }
          }
          .slidein_top {
            transform: translateY(-20px);
            opacity: 0;
            transition: 0.15s;
          }
        }
        &:hover {
          .slidein_top {
            transition: 0.3s;
            transform: translateY(0);
            opacity: 1;
          }
        }

        .split_middle {
          .menu_wrapper {
            width: 100%;
            text-align: center;
            .today {
              margin-bottom: 20px;
              color: $hamburgerIconColor;
            }
            .menu_list {
              li {
                padding: 12px 0;
                border-top: 1px solid $leftBorderColor;
                transition: 0.3s;
                cursor: pointer;
                &:hover {
                  background-color: #222;
                }
                &:last-of-type {
                  border-bottom: 1px solid $leftBorderColor;
                }
              }
            }
          }
        }

        .split_end {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .split_right {
      background-color: $rightBackgroundColor;
      transition: 0.3s;
      &.on {
        background-color: rgba(#00255c, 0.3);
      }

      .split_middle {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        .title {
          left: calc(-20px + 0.5vw);
          color: $rightTitleColor;
        }
      }
      &.on_mouse {
        background: none;
        color: $rightFontColor;
        letter-spacing: 1px;
        .split_start {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;

          h2 {
            margin: 10px;
            font-size: 2vw;
            &.big {
              font-size: 4vw;
            }
          }
          .slidein_top {
            transform: translateY(-20px);
            opacity: 0;
            transition: 0.15s;
          }
        }
        &:hover {
          .slidein_top {
            transition: 0.3s;
            transform: translateY(0);
            opacity: 1;
          }
        }
      }
    }
  }
}
